
                <table class="table table-striped">
                    <thead>
                        <th>Id</th>
                        <th>User Name</th>
                        <th> First Name</th>
                        <th> Last Name</th>
                        <th> Email </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td> {{ user.id}}</td>
                            <td> {{ user.username}}</td>
                            <td> {{ user.firstName}}</td>
                            <td> {{ user.lastName}}</td>
                            <td> {{ user.email}}</td>
                        </tr>
                    </tbody>
                </table>

        <h3>Nuevo cliente</h3>
        <form>
            <div class="form-group">     
                <label for="nombre">Nombre de la persona</label>      
                <input type="text" name="nombre" id="nombre" placeholder="nombre" class="form-control" [(ngModel)]="nombreImput">
            </div>
            <div class="form-group ">
                <label for="apellido">Apellido de la persona</label> 
                <input type="text" name="apellido" id="apellido" placeholder="apellido" class="form-control" [(ngModel)]="apellidoImput">
            </div>
            <div class="form-group ">
                <input type="text" name="email" id="email" placeholder="email" class="form-control" [(ngModel)]="email">
            </div>
            <div class="form-group">
                <input type="text" name="username" id="username" placeholder="username" class="form-control" [(ngModel)]="userName">
            </div>
            <div class="form-group ">
                <input type="password" name="password" id="password" placeholder="password" class="form-control" [(ngModel)]="password">
            </div>
            <div class="form-group ">
                <button type="submit" class="btn btn-primary" (click)="agregarPersona()">
                      Agregar
                </button>
            </div>
          </form>
    

        <h3>Buscar cliente</h3>
        <form class="form-row">
            <div class="col">
                <input type="text" name="username" id="username" placeholder="username" class="form-control" [(ngModel)]="userName">
            </div>
            
            <div class="col">
                <button type="submit" class="btn btn-primary" (click)="findUser()">
                      Obtener detalle
                </button>
            </div>
          </form>